<div class="w3-top w3-bar w3-white w3-wide w3-padding w3-card">
  <a href="/" class="w3-bar-item w3-button"><b>BC</b> Hospital</a>

  <div class="w3-right w3-hide-small">
    <a href="/register-birth" class="w3-bar-item w3-button">Patients</a>
    <a href="/register" class="w3-bar-item w3-button">Birth</a>
    <a href="/contact" class="w3-bar-item w3-button">Contact</a>
  </div>
</div>

<div id="home" class="w3-content" style="max-width:1564px">
  <div class="w3-display-container w3-content" style="max-width:1500px;">
    <img
      class="w3-image"
      src="https://live.staticflickr.com/2257/1806938831_254b69283e_b.jpg"
      alt="Architecture"
      width="100%"
    />
    <div class="w3-display-middle w3-margin-top w3-center">
      <h1 class="w3-xxlarge w3-text-white w3-wide">
        <span class="w3-padding w3-black w3-opacity-min"><b>BC</b></span>
        <span class="w3-hide-small w3-text-light-grey">Hospital</span>
      </h1>
    </div>
  </div>
</div>
